In [1]:
import pandas as pd
import numpy as np
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [15]:
tickers = ['PG','MSFT']

sec_data = pd.DataFrame()

for t in tickers :
    sec_data[t] = wb.DataReader(t,'quandl','2007-1-1','2018-3-1')['AdjClose']

In [16]:
sec_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2809 entries, 2018-03-01 to 2007-01-03
Data columns (total 2 columns):
PG      2809 non-null float64
MSFT    2809 non-null float64
dtypes: float64(2)
memory usage: 65.8 KB

In [17]:
sec_data = sec_data.iloc[::-1]
sec_returns = np.log(sec_data / sec_data.shift(1))
sec_returns

                  PG      MSFT
Date
2007-01-03       NaN       NaN
2007-01-04 -0.007621 -0.001676
2007-01-05 -0.008624 -0.005719
2007-01-08  0.002202  0.009737
2007-01-09 -0.002517  0.001002
2007-01-10  0.011901 -0.010064
2007-01-11  0.006207  0.034463
2007-01-12  0.005554  0.016476
2007-01-16  0.000000 -0.001603
2007-01-17  0.010255 -0.001927
2007-01-18  0.002750 -0.003221
2007-01-19  0.008357  0.003542
2007-01-22 -0.005614 -0.012615
2007-01-23 -0.001218  0.000651
2007-01-24 -0.001982  0.011321
2007-01-25 -0.009047 -0.020800
2007-01-26 -0.000925  0.004914
2007-01-29  0.000308 -0.002290
2007-01-30 -0.004480 -0.001639
2007-01-31  0.004326  0.012390
2007-02-01  0.007219 -0.009769
2007-02-02  0.000000 -0.012181
2007-02-05 -0.002912 -0.019399
2007-02-06 -0.008633 -0.003383
2007-02-07 -0.001705 -0.004755
2007-02-08  0.001705 -0.003752
2007-02-09 -0.002480 -0.009615
2007-02-12 -0.004199 -0.001381
2007-02-13  0.008536  0.005857
2007-02-14  0.002624  0.013354
...              ...       ...
2018-01-18 -0.011247 -0.000444
2018-01-19  0.009821 -0.001110
2018-01-22  0.008964  0.017731
2018-01-23 -0.031394  0.003161
2018-01-24 -0.008345 -0.000871
2018-01-25  0.000340  0.005539
2018-01-26 -0.006929  0.018564
2018-01-29 -0.009966 -0.001490
2018-01-30  0.001036 -0.012643
2018-01-31 -0.007040  0.024182
2018-02-01 -0.005691 -0.007925
2018-02-02 -0.018813 -0.026663
2018-02-05 -0.038599 -0.030196
2018-02-06  0.016153  0.025281
2018-02-07 -0.006577 -0.019012
2018-02-08 -0.019993 -0.054111
2018-02-09 -0.003747  0.037116
2018-02-12  0.017489  0.011623
2018-02-13  0.002088  0.007823
2018-02-14 -0.010112  0.010850
2018-02-15  0.021216  0.020167
2018-02-16  0.002303 -0.007148
2018-02-20 -0.015372  0.007796
2018-02-21 -0.013616 -0.013355
2018-02-22  0.007450  0.002729
2018-02-23  0.002594  0.024974
2018-02-26  0.007131  0.014355
2018-02-27 -0.013443 -0.012868
2018-02-28 -0.025401 -0.004575
2018-03-01  0.002290 -0.009860

[2809 rows x 2 columns]

In [21]:
PG_var = sec_returns['PG'].var() * 250
MSFT_var = sec_returns['MSFT'].var() * 250
print('P&G : ' + str(PG_var) + '\nMicrosoft : '+ str(MSFT_var))

P&G : 0.029870754208558788
Microsoft : 0.07392432143310333

In [23]:
cov_matrix = sec_returns.cov() *250
cov_matrix

            PG      MSFT
PG    0.029871  0.021632
MSFT  0.021632  0.073924

In [24]:
corr_matrix = sec_returns.corr()
corr_matrix

            PG      MSFT
PG    1.000000  0.460345
MSFT  0.460345  1.000000